*{

    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.nav-menu{

    background-color: rgb(249, 49, 89);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    position: fixed;
    top: 0;

}

.nav-menu img{

    width: 80px;
    height: 65px;
    margin-left: 30px;
   
}

.nav-menu h1{

    margin-right: 250px;
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
 
}

.nav-content{

    display: flex;
    gap: 10px; 
    
}

.nav-content a{

    text-decoration: none;
    color: whitesmoke;
    margin: 40px;
    margin-left: 40px;
    color: whitesmoke; 
    font-size: 20px;
    font-weight: bold;
   
}

body{

    background-color:#ffe8ee;
    
}

.main-content h1{

    margin-top: 100px;
    font-size: 40px;
    margin-left: 600px;
    color: #515151;
}

.div-content{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}



.div-content a img{

    width: 300px;
    height: 350px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 20px;
    
}

.div-content a img:hover{
    transform: translateY(-10px);
    padding-lefth:10px;
    padding-right:10px
    box-shadow: 5px 5px 10px rgb(239, 198, 177), -5px -5px 10px rgb(239, 198, 177);
}

.div-content  p{
    color: #070707;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.main-footer{

    background-color: #222;
    color: white;
    max-width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 15px;
    
}

.main-footer h6{

    font-size: 30px;
    margin-left: 350px;
    word-spacing: 5px;
}

.main-footer p{

    margin-left: 500px;
    padding: 10px;
}

.main-footer{

    background-color: #222;
    color: white;
    max-width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 20px;

}

.main-footer p{

    padding: 10px;
    margin-left: 400px;
    
}

@media (min-width:375px) and (max-width:667px){
    .main-content h1{
        margin-left: 50px;
    }

      .main-footer p{
        margin-left: 100px;
        margin-right: 80px;
     }
}



